*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: black ;
}
heather{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
    .logo img{
        max-width: 150px;
    }
}
.navigation{
    display: flex;
    li{
        list-style: none;
        margin: 0 10px;
        a{
            color: white;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 1px;
        }
        &:hover a{
            color: red
        }
    }
}
.search{
    position: relative;
    width: 300px;
    height: 40px;
    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        background: transparent;
        border: 1px solid rgba(255,255, 255, 0.5);
        outline: none;
        border-radius: 5px;
        padding: 0 10px 0 45px;
        backdrop-filter: blur(10px);
        &::placeholder{
            color: white;
        }
    }
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width:600px){
    heather{
        padding: 20px;
    }
    .search{
        position: relative;
        width: calc(100% - 20px);
        height: 40px;
    }
}